@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant:wght@300&display=swap');
:root {
    /*colors*/
    --primary-color: #546436   ;
    --secondary-color: #4C4029 ;
    --accent1-color: #7A6544;
    --accent2-color: #CED6D6;
  
    /*fonts*/
    --heading-font: "Cinzel";
    --paragraph-font: "Cormorant", sans-serif;
  
    --headline-color-on-white: black;  /* headlines on a white background */ 
    --headline-color-on-color: #CED6D6; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #CED6D6; /* paragraph text on a colored background */ 
    --paragraph-background-color: #546436  ;
    --nav-link-color: black;
    --nav-background-color: #CED6D6;
    --nav-hover-link-color: #CED6D6;
    --nav-hover-background-color: #4C4029;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
p {
    font-family: var(--paragraph-font);
}
img{
    max-width: 100%;
}

/* home page */
.homemain {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content:center;
    text-align: center;
}
.hometopgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 1fr 1fr;
    gap: 2em;
    padding:2em;
}
.hometitle{
    grid-column: 1/3;
}
.homelongimg{
    grid-row:2/4;
    grid-column: 1/2;
}
.homebottomgrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--paragraph-background-color);
    gap: 2em;
    padding: 2em;
    font-size: 1.3em;
    line-height: 1.5em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content:center;
}

/* pricing page*/
.pricinggrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 2em;
    padding:2em;
    font-size: 1.5em;
    line-height: 3em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content:center;
}
.pricingmain{
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content:center;
    text-align: center;

}
.pricingtitle{
    grid-column: 1/3;
    height: 130px;
    margin-top: 60px;
}

/* gallery */
.gallerytitle{
    height: 130px;
    margin-top: 60px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content:center;
    text-align: center;
}
.bridals, .family, .couples, .portraits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portrait {
    grid-row: span 2;
}
.weddinggallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

/* navigation bar */
.logo{
    width: 100px;
    margin-bottom: -80px;
    margin-left: 15px;
    border: 1px solid;
}
nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;

}
nav a{
    text-align: center;
    color: #f9f7f3;
    text-decoration: none;
    font-family: var(--heading-font);
    padding: 35px;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    padding: 35px;
}

/* footer */
footer{
    display: grid;
    grid-template-columns: 3fr 1fr 60px;
    background-color: var(--nav-background-color);
    padding: 10px 30px;
    margin-top: 30px;
}
a:link,a:visited{
    text-decoration: none;
    color: var(--nav-hover-background-color)
}
.social{
    max-width: 60px;
    
}
@media screen and (max-width:800px) {
    .logo{
        margin-bottom: 1em;
        margin-top: 1em;
        border: 0;
    }
    header{
        text-align: center;
    }

}

